<h1 id="subject_name">Name</h1>
<h3 id="subject_id">ID </h3>
<select id="year" class="year" onchange="sendCourse();"> 
  <option>--</option>               
  <option>2013</option> 
  <option>2014</option> 
  <option>2015</option> 
  <option>2016</option> 
  </select>


<select id="semester" class="semester" onchange="sendCourse();"> 
            <option>--</option> 
            <option>1</option> 
            <option>2</option> 
</select> Teacher ID: <input type="text" value="5710450332" id="id_teacher">

<table id="subjectTable" align="center" style="border-style: solid;">
    <tr>
        <th>No.</th>
        <th>Subject</th>
    </tr>
</table>
<table id="studentTable" align="center" style="border-style: solid;">
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>program</th>
        <th>q1</th>
        <th>q2</th>
        <th>q3</th>
        <th>grade</th>
        <th></th>
        <th></th>
    </tr>
</table>
<button class="editbtn" onclick="editable();">Edit</button>

<button id="confirmbtn" onclick="confirmData();">Confirm</button>





<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/custom_script.js"></script>
<script>
    $(document).ready(function() {
        alert($('#id_teacher').val());
        $.ajax({
            type: "POST",
            url: "controller/php_function_switcher.php",
            data: {
                func: 'check_confirm_button',
                idTeacher: $('#id_teacher').val()


            },
            success: function(data) {
                alert(data);

            }
        });
    });
    // function confirmbtnChecking(){
    //     if ($(''))
    // }
    function confirmData() {
        $('.editbtn').attr('disabled', 'disabled');
        alert('Confirm!');
    }
</script>