<button id="idStudent" type="button" onclick="ss();">2570081101</button>
<script src="https://code.jquery.com/jquery-3.1.1.js " integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin=" anonymous "></script>
<script>
    function ss() {
        window.location = 'genReport.html?id="' + $('#idStudent').html() + '"';
    }
</script>