 Teacher ID: <input type="text" value="5610450063" id="id_teacher">
<button type="button" id="go" onclick="getStudentInClass('id_teacher')">GO</button>
<h1 id="studentName"></h1>
<h2 id="studentId"></h2>
<table id="studentClass" align="center" style="border-style: solid;">
    <tr>
        <th>No.</th>
        <th>Student ID</th>
        <th>firstname</th>
        <th>lastname</th>
        <th></th>
    </tr>
</table>

<table id="studentCourse" align="center" style="display:none" style="border-style: solid;">
    <tr>
        <th>No.</th>
        <th>Subject ID</th>
        <th>Course Name</th>
        <th>Credit</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Semester Grade</th>
        <th></th>
        <th></th>
    </tr>
</table>


<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/custom_script.js"></script>